* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero{ 
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff0000;
}

.hero img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }


  .sorting {
display: flex;
justify-content: space-between;
margin-left: 60px;
margin-right: 60px;
align-items: center;
  }

 
 






  